@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* variables */
:root{
    /* color */
    --greyCOLOR: #333;
    --fontCOLOR: #f0f0f0;
    --MAINCOLOR: #ff6c00;
    }
.navbar{
    width: 100%;
    height: 64px;
    background-color: var(--greyCOLOR);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
.logo{

}
a{
    color: var(--fontCOLOR);
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    
}
.navbar__two__button__section > a{
    font-size: 20px;
    margin: 15px;
    padding: 8px, 8px;
    transition: 300ms;
} 
.navbar__two__button__section > a:hover{
    font-size: 20px;
    margin: 15px;
    padding: 8px, 8px;
    color: var(--MAINCOLOR);
    transition: 300ms;
} 
.navbar__four__button__section > a{
    width: auto;
    font-size: 18px;
    margin: 15px;
    padding: 8px, 8px;
    transition: 300ms;
}
.navbar__four__button__section > a:hover{
    width: auto;
    font-size: 18px;
    margin: 15px;
    padding: 8px, 8px;
    color: var(--MAINCOLOR);
    transition: 300ms;
}
/* home */
#home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around ;
}
.logo__big{
    width: 41.875%;
    height: 100%;
    align-items: center;
}
.home__header__inro{
    width: 58.125%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.line{
    margin: 8px;
    width: 70%;
    height: 2px;
    background-color: var(--MAINCOLOR);
}
.header{
    font-family: 'PT Sans', sans-serif;
    font-stretch: 1px;
}
.pragraph{
    width: 70%;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}