@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    
    
}
/* variables */
:root{
    /* color */
    --greyCOLOR: #333;
    --fontCOLOR: #f0f0f0;
    --MAINCOLOR: #ff6c00;
    --whiteCOLOR: #fff;
    --lightgreyCOLOR: #6D6D6D;
    --BGCOLOR: #EBEAE8;
    }

#course{
    width: 100%;
    height: 130vh;
    padding-top: 106px;
    background: var(--BGCOLOR);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#course > h1{
    color: var(--MAINCOLOR);
}
.course__info__container{
    width: 100%;
    display: flex;
    gap: 64px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}
.course__info{
    margin: 32px 0;
    padding: 16px;
    width: 348px;
    height: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
    border-radius: 48px;
    background: #FFF;
    box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.25);
}
.course__info > .course__info__img__first{
    width: 100%;
    height: 164px;
    border-radius: 36px;
    background-image: url(../photos/pre-ielts.png);
}
.course__info__img__first > h3{
    text-align: center;
}
.course__info > .course__info__img__second{
    width: 100%;
    height: 164px;
    border-radius: 36px;
    background-image: url(../photos/ielts-prep.png);
}
.course__info__img__second > h3{
    text-align: center;
}
.course__info > .course__info__img__third{
    width: 100%;
    height: 164px;
    border-radius: 36px;
    background-image: url(../photos/academic.png);
}
.course__info__img__third > h3{
    text-align: center;
}
.text__container{
    margin-top: 16px; ;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 8px;
    padding-right: 16px;
    font-size: 18px;
}   
.text__container > .text__english__level{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.text__container > .text__duration{
    width: 100%;
    display: flex;
    justify-content: space-between;
     
}
.text__container > .text__duration > span.month{
    color: var(--MAINCOLOR);
   font-size: 18px;
}
.text__container > .text__duration > span.duration{
    font-size: 16px;
}
.test__score{
    color: var(--MAINCOLOR);
    width: 100%;
    text-align: center;
}
.img__container{
    margin-top: 32px;
    width: 78%;
    display: flex;
    justify-content: space-between;
    height: 278.78px;
    margin-bottom: 32px ;
}
.first__img{
    width: 174.24px;
    height: 278.78px;
    border-radius: 27.878px;
    background-image: url(https://github.com/SaagiiSG/neon-edu/blob/main/photos/7.5-1.png?raw=true);
    background-position: baseline; 
    background-repeat: no-repeat;
    background-size: cover; 
}
.second__img{
    width: 174.24px;
    height: 278.78px;
    border-radius: 27.878px;
    background-position: baseline; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(https://github.com/SaagiiSG/neon-edu/blob/main/photos/6.5.png?raw=true);
}
.third__img{
    width: 174.24px;
    height: 278.78px;
    border-radius: 27.878px;
    background-position: baseline; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(https://github.com/SaagiiSG/neon-edu/blob/main/photos/8.png?raw=true);
}
.forth__img{
    width: 174.24px;
    height: 278.78px;
    border-radius: 27.878px;
    background-position: baseline; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(https://github.com/SaagiiSG/neon-edu/blob/main/photos/7.png?raw=true);
}
.fifth__img{
    width: 174.24px;
    height: 278.78px;
    border-radius: 27.878px;
    background-position: baseline; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(https://github.com/SaagiiSG/neon-edu/blob/main/photos/7.5.png?raw=true)
}
.hover__orange {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 27.878px;
    transition: linear 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}
.hover__orange > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    
}
.hover__orange > p > span{
    font-size: 60px;
    font-weight: 700;
}
.hover__orange:hover{
    transition: ease-out 300ms;
    width: 100%;
    height: 100%;
    background: rgba(255, 108, 0, 0.7);
    border-radius: 27.878px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontCOLOR);
}
.slider{
    display: none;
}
a.button{
    text-decoration: none;
}