@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    
    
}
/* variables */
:root{
    /* color */
    --greyCOLOR: #333;
    --fontCOLOR: #f0f0f0;
    --MAINCOLOR: #ff6c00;
    --whiteCOLOR: #fff;
    --lightgreyCOLOR: #6D6D6D;
    --BGCOLOR: #EBEAE8;
    }
/* our team */
#our__team {
    padding-top: 98px ;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:var(--BGCOLOR);
    
}
#our__team > .header{
    margin-bottom: 106px;
    width: 100%;
    text-align: center;
    color: var(--MAINCOLOR);
    margin-bottom: 32px;
}
.member__container{
    width: 80%;
    height: 90%;
    display: flex;
    gap: 6.25rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    
}
.member__card{
    width: 192px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--greyCOLOR);
}
.member__card > img{
    width: 192px;
    height: 192px;
    border: 5px solid var(--whiteCOLOR);
    border-radius: 200px;
}
.member__card > h3{
    margin: 16px 0;
    text-align: center;
}
.member__card > p{
    width: min 87px; ;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}
.member__card >p> span{
    margin: 8px 0;
}
